<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	bootstrap="tests/unit_bootstrap.php"
	backupGlobals="false"
	backupStaticAttributes="false"
	strict="true"
	verbose="true"
	colors="true">

	<testsuites>

		<testsuite name="Controller">
			<directory suffix=".php">tests/controller</directory>
		</testsuite>

		<testsuite name="Helper">
			<directory suffix=".php">tests/helper</directory>
		</testsuite>

		<testsuite name="Models">
			<directory suffix=".php">tests/models</directory>
		</testsuite>

		<testsuite name="Storage">
			<directory suffix=".php">tests/storage</directory>
		</testsuite>

	</testsuites>

	<filter>
		<blacklist>
			<directory suffix=".php">./vendor</directory>
		</blacklist>
	</filter>

</phpunit>
